{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cadastrar{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col s12">
        <h3>
          Insira seus dados:
        </h3>
      </div>
    </div>
    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" name="email" type="email" required class="validate" >
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="name" name="name"   type="text" >
              <label for="first_name">Nome</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="phone" name="phone"  placeholder="(00) 99999-9999" type="text"  class="validate" >
              <label for="telefone">Telefone</label>
            </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                <input id="cell" name="cell"   type="text" >
                <label for="celula">Célula</label>
              </div>
            </div>
        </form>
        <div class="btn-large light-blue darken-4" onclick="postStudent();">Cadastre-se</div>

      </div>
       <!-- Modal Structure -->
      <div id="modal-registro" class="modal">
        <div class="modal-content">
          <h4>Registro Mergulhando</h4>
          <p id="conteudo-modal-registro"></p>
        </div>
        <div class="modal-footer">
          <a href="/home" class="modal-close waves-effect waves-red btn-flat">Fechar</a>
        </div>
      </div>
</div>
  <script src="static/js/jquery.min.js" ></script>

   <script>
      $(document).ready(function() {
          M.updateTextFields();
          $('.modal').modal();
      });
  </script>

{% endblock %}