# virtualenn directories

bin/*
lib/*
include/*
venv/*

*.pyc
app/__pycache__/

app/instance/

app/.pytest_cache/
app/.coverage
app/htmlcov/
*.egg-info/
flask_mergulhando.code-workspace
var/*
.vscode/settings.json
app/utils/secret/client_secret.json
app/utils/secret/token.json
XDG_CACHE_HOME/*
