{% extends 'base.html' %}

{% block content %}
<div class="container">
        <div class="row ">
                <div class="col s12 ">
                <div class="card">
                    <div class="card-image">
                        <img src="static/images/mergulhando.jpg">
                    </div>
                    <div class="card-content">
                    
                        <p>
                            2 Timóteo 3.16-17: 
                            <q>
                                    <i>Toda Escritura é inspirada por Deus e útil para o ensino, 
                                    para a repreensão, para a correção, para a educação na justiça,
                                    a fim de que o homem de Deus seja perfeito e perfeitamente habilitado para toda boa obra.</i>
                            </q>
                        </p>
                        <p>
                            O Mergulhando na Palavra visa abordar temas essenciais a respeito da vida cristã.
                        </p>
                    </div>
                    <div class="card-action">
                    <a href="/home">Cadastro</a>
                    </div>
                </div>
                </div>
            </div>
        
</div>
{% endblock content %}