{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h3 class="center-align">Escolha umas das opções:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <p class="center-align">
                        <a class="waves-effect waves-light btn-large green darken-1" href="register">
                            <i class="material-icons large right">send</i>Cadastrar
                        </a>
                    </p>
                </div>
                <div class="col s12">
                    <p class="center-align">
                        <a class="waves-effect waves-light btn-large" href="login">
                        <i class="material-icons right">exit_to_app</i>Registrar Presença
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
